
<div class="d-grid gap-2 container">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ingrese texto</label>
        <input  type="text" class="form-control"
         id="texto" name="texto" [(ngModel)]="texto" >
         <label for="exampleInputEmail1" class="form-label">Ingrese texto2</label>
         <input  type="text" class="form-control"
          id="texto2" name="texto2" [(ngModel)]="texto2" >
      </div>
      <select class="form-select" aria-label="Default select example" id="selectAnimal" name="selectAnimal" [(ngModel)]="selectAnimal" >
        <option selected>Elija el animal</option>
        <option value="perro">perro</option>
        <option value="gato">gato</option>
      </select>
    <button class="btn btn-primary" type="button" (click)="getAnimal()">Button</button>
    <button class="btn btn-primary" type="button2" (click)="print()" >Button2</button>
</div>
<br>
<div *ngIf="animal" class="container">
<ul class="list-group"> 
    <li class="list-group-item list-group-item-primary" >{{animal.object.nombre}}</li>
    <li class="list-group-item list-group-item-secondary">{{animal.object.tipo}}</li>
    <li class="list-group-item list-group-item-success">{{animal.object.sonido}}</li>
    <li class="list-group-item list-group-item-success">{{animal.object.color}}</li>
  </ul>
</div>