<br>
<div *ngIf="cabello" class="container">
<ul class="list-group"> 
    <li class="list-group-item list-group-item-primary">{{cabello.msg}}</li>
    <li class="list-group-item list-group-item-secondary">{{cabello.code}}</li>
    <li class="list-group-item list-group-item-success">{{cabello.object.color}}</li>
    <li class="list-group-item list-group-item-success">{{cabello.object.tamano}}</li>
    <li class="list-group-item list-group-item-danger">{{cabello.object.forma}}</li>
  </ul>
</div>
