

<div class="container"*ngIf="isRender">

    
<div *ngIf="title">
    {{title.title}}
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let machine of machines">
      <div class="card">
        <img src="/assets/imagenes/descarga.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">{{machine.name}}</h1>
          <p class="card-text" >{{machine.description}}</p>
          <p class="card-text">{{machine.precio | currency:'COP'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>