
<br>
<div *ngIf="userInfo" class="container">
<ul class="list-group"> 
    <li class="list-group-item list-group-item-primary">{{userInfo.msg}}</li>
    <li class="list-group-item list-group-item-secondary"><b>{{userInfo.code}}</b></li>
    <li class="list-group-item list-group-item-success">{{userInfo.object.name}}</li>
    <li class="list-group-item list-group-item-danger">{{userInfo.object.id}}</li>
  </ul>
</div>